@import url('https://fonts.googleapis.com/css2?family=Rubik');
  
  * {
    padding: 0;
    margin: 0;
    border: none;
    margin: none;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  :root {
    --main: hsl(224, 76.3%, 48%);
    --lightgrey: hsl(0, 0%, 96.1%);
  }
  
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }
  
  header h1 {
    font-size: 1.8em;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  
  header nav ul li a {
    color: var(--main);
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 12px 16px;
  }
  
  .blogs {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 16px;
  }
  
  footer {
    width: 100%;
    margin: 12px auto;
    text-align: center;
  }