<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs") %>
</head>
<body>
  <header>
    <h1>Blogg</h1>
    <%- include("./partials/nav.ejs") %>
  </header>
  <section class="create content">
    <h1>Create new blog post</h1>
  </section>
  <%- include("./partials/footer.ejs") %>
</body>
</html>